<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicPlaylist</title>
</head>
<body>
    <h1>Playlist</h1>
    <br><hr><br>
    <a href="/">Home</a>
    <br>
    <a href="/music/Songs">Songs</a>
    <br>
    <a href="/music/Artist">Artist</a>
    <br>
    <a href="/music/Albums">Albums</a>
</body>
</html>